[user]
	name = alex289
	email = EMAIL_HERE
	signingKey = SIGN_KEY
[commit]
	gpgSign = true
[tag]
	gpgSign = true
[gpg]
	program = /opt/homebrew/bin/gpg
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[core]
	editor = code --wait